.app {
  height: 100vh;
  background: var(--bg-gradient);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.app__header {
  margin: 10px;
  display: grid;
  place-items: center;
}
.app__searchBar {
  border: none;
  border-radius: 25px;
}

.app__pokeList {
  justify-self: stretch;
  background: var(--bg-color);
  overflow: auto;
}

.colorful-border {
  border-style: solid;
  border-image-slice: 1;
  border-width: 5px 0;
  border-image-source: var(--bg-border);
}
